html{
  background-color: black;
}

.text{
  font-family: 'Libre Baskerville', serif;
}

#div1{
  
  width: 50%;
  text-align: center;
  color: white;
  font-size: 45px;
  border: solid white;
  border-width: 5px;
}

img{
  margin-top: 100px;
  border: 5px solid white;
}

p{
  color: white;
  text-align: center;
  font-size: 50px;
}

.inline-block{
  display: inline-block;
}

.yes{
  border-color: black;
  margin: 0;
  height: 550px;
}